<div class='row'>
  <div class='col text-center'>
    <% if params[:column].present? || params[:search].present? %>
      <%= link_to 'Remove column sorting', path %>
    <% else %>
      <%= link_to 'Remove column sorting', path, class: 'hidden' %>
    <% end %>
  </div>
</div>
