<div class='row navbar-light bg-light'>
  <div class='col text-center text-wrap'>
    <p class='fs-6 fw-lighter'>We are #{article_and_noun(company)} who #{verbs} #{noun} for #{adj}.</p>
  </div>
</div>
