<div id='footer-block'>
  <div class='left-margin'>
    <div class='row'>
      <div class='col text-start'>
        <%= image_tag('pubco_logo.png', id: 'pubco-logo', class: 'margin-left') %>
      </div>
      <div class='col text-end right-margin align-self-center'>
        <%= image_tag('ig_logo.png') %>&nbsp<%= image_tag('li_logo.png') %>
      </div>
    </div>
  </div>
</div>
