<div id='made-this-block'>
  <div class='row'>
    <div class='col'>
      <%= image_tag('p-co.png', id: 'p-co-logo', class: 'mt-5') %>
    </div>
  </div>
  <div class='row'>
    <div id='made-left' class='col'>
      <h2 id='made-this-title'>OK, who made this?</h2>
      <p class='made-paragraph'>
        Hi! We're P&Co. We help people get more customers (and <br class='mobile-hidden'>
        keep them too). And we see <em>truckloads</em> of bad pitches.
      </p>
      <p class='made-paragraph'>
        If it's hard to understand, it's hard to buy. We help you speak<br class='mobile-hidden'>
        to customers like <em>they</em> speak, and our work directly reduces<br class='mobile-hidden'>
        acquisition costs, increases retention and establishes<br class='mobile-hidden'>
        lasting customer relationships.
      </p>
    </div>
    <div id='made-right' class='col text-center'>
      <%= link_to 'check us out', "https://publicover.co", class: 'btn fst-italic', id: 'btn-pitch' %>
    </div>
  </div>
</div>