<div class='row'>
  <div class='col text-left'>
    <h2>FORM</h2>
  </div>
</div>
<div class='row'>
  <div class='col text-left smallest-print'>
    <div class='trunc-spacing'>
      <sup>*</sup>We took the gamble that at least 1 of you would be named Pete at some point.
      and feel really special when you saw that. Did it work?
    </div>

  </div>
</div>
<div class='row'>
  <div class='col text-left'>
    SUBMITBUTTON
  </div>
</div>
