<div id='pink-flamingo-block'>
  <div class='left-margin'>
    <div class='row'>
      <div class='col-5 text-left' id='made-this-shit'>
        <h34>
          Who made this shit anyway?
        </h34>
      </div>
    </div>
    <div class='row'>
      <div class='col-7 tight-spaces-white'>
        <p>
          We're a sales communications agency so we see a LOT of bad
          elevator pitches. We make things easiser to explain & easy to sell&mdash;so
          you don't have to sound like something from this ridiculous tool.
        </p>
        <p>
          We're the kind of company that will stay up late, drink a bit too much
          and build a MadLib-style app full of random buzzwords. What
          more do you need to know?
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <button class='btn btn-bottom-margin fst-italic' id='shit-button'>
          { More <span class='pco-red'>P&Co</span> here }
        </button>
      </div>
    </div>
  </div>
</div>
