<div id='pink-flamingo-block'>
  <div class='left-margin'>
    <div class='row'>
      <div class='col-5 text-left' id='made-this-shit'>
        <h34>
          Who made this sh*t anyway?
        </h34>
      </div>
    </div>
    <div class='row'>
      <div class='col-8 tight-spaces-white mb-2'>
        <p>
          We're a sales communications agency so we see a LOT of bad<%= desktop_br %>
          elevator pitches. We make things easiser to explain & easy to sell&mdash;so<%= desktop_br %>
          you don't have to sound like something from this ridiculous tool.
        </p>
        <p>
          We're the kind of company that will stay up late, drink a bit too much<%= desktop_br %>
          and build a MadLib-style app full of random buzzwords. What<%= desktop_br %>
          more do you need to know?
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <a href="https://www.publicover.co"
           class='btn btn-bottom-margin fst-italic'
           id='shit-button'
           target="_blank">
            { More <span class='pco-red'>P&Co</span> here }
        </a>
      </div>
    </div>
  </div>
</div>
