<div id='pitch-button-block' class='pb-5'>
  <div class='row'>
    <div class='col text-center mb-5'>
      <p>Your new awful pitch <%= mobile_br %>will appear here.</p>
      <p><em>(Hope it's bad enough to share!)</em></p>
    </div>
  </div>
  <div class='row'>
    <div class='col text-center'>
      <%= render 'pitch_button' %>
    </div>
  </div>
</div>
