<div id='pitch-reveal-square'>
  <div class='row'>
    <div class='col-xs-12 col-md-6 offset-md-3 text-start text-wrap'>
      <div class='bad-pitch-square'>
        <div class='row'>
          <div class='col'>
            <span class='new-bad fst-italic pitch-left-padding'>My new bad pitch:</span><br />
            <div class='pitch-results pitch-left-padding'>
              <p><%= @sentence %></p>
            </div>
          </div>
          <div class='row'>
            <div class='col-8 pitch-plug pitch-plug-padding start-bottom no-pad'>
              make your own bad pitch&nbsp;at<br />pitches.publicover.co
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-md-3 text-start align-middle share-copy mobile-margin'>
      <span>
        Share your screenshot on
        <br /><%= link_to 'Linkedln and tag us', 'https://www.linkedin.com/company/publicover/?originalSubdomain=de', target: "_blank" %>
        <br />& we'll send you a discount
        <br />code for our DIY Tools!
      </span>
      <%= image_tag('arrow_down_swirls.png', class: 'mobile-hidden') %>
    </div>

    <div class='offset-md-3 ms-auto text-start align-middle'>
      <div class='text-center'>
        <div class='closing-copy fst-italic' id='fancy-a-go'>Wow, such awful. Fancy another go?</div>
        <%= render 'pitch_button' %>
      </div>
    </div>
  </div>
</div>
