<div id='pitch-reveal'>
  <div class='left-margin'>
    <div class='row'>
      <div class='col'>
        <h5 id='pitch-subtitle'>Introducing my terrible new elevator pitch:</h5>
      </div>
    </div>
    <div class='row'>
      <div class='col text-start text-wrap'>
        <div class='bad-pitch'>
          <%= @sentence %>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col text-start'>
        <span class='small-cta'>
          make your own bad pitch at
          <a href="https://www.publicover.co"
             target="blank">
             <span class='pco-red'>pitches.publicover.co</span>
           </a>
         </span>
      </div>
    </div>

  </div>
  <div id='bad-pitch-bottom'>
    <div class='row'>
      <div class='col text-center mb-4' id='fancy-a-go'>
        Wow, such awful. Fancy another go?
      </div>
    </div>
    <div class='row'>
      <div class='col text-center'>
        <%= render 'pitch_button' %>
      </div>
    </div>
    <div class='row'>
      <div class='col text-center'>
        <p id='share-cta' class='mt-4'>
          Share your screenshot on LinkedIn and tag us,<br />
          & we'll send you a discount code for our DIY Tools
        </p>
      </div>
    </div>
  </div>

</div>
