<div id='pitch-reveal'>
  <div class='left-margin'>
    <div class='row'>
      <div class='col'>
        <h5 id='pitch-subtitle'>Introducing my terrible new elevator pitch:</h5>
      </div>
    </div>
    <div class='row'>
      <div class='col text-start text-wrap'>
        <div class='bad-pitch'>
          We are a connoisseur who jumpstarts maximalism for stagnant partners who want to foster exegesis.
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col text-start'>
        <span class='small-cta'>make your own bad pitch at pitches.publicover.co</span>
      </div>
    </div>

  </div>
  <div id='bad-pitch-bottom'>
    <div class='row'>
      <div class='col text-center' id='fancy-a-go'>
        Wow, such awful. Fancy another go?
      </div>
    </div>
    <div class='row'>
      <div class='col text-center'>
        <button class='btn fst-italic' id='btn-second-pitch'>{ Gimme a Pitch! }</button>
      </div>
    </div>
    <div class='row'>
      <div class='col text-center'>
        <p id='share-cta'>
          Share your screenshot on LinkedIn and tag us,<br />
          & we'll send you a discount code for our DIY Tools
        </p>
      </div>
    </div>
  </div>

</div>
