<div id='pitch-title-block'>
  <div class='row'>
    <div class='col text-center'>
      <h1>
        Bad Elevator<br />
        Pitch-o-matic<br />
        <%= image_tag('P_Co-squiggles-red.png') %>
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col text-center'>
      <p>
        Step right up and click the button to generate a random & terrible elevator pitch<br />
        (that hopefully sounds NOTHING like yours!)
      </p>
    </div>
  </div>
  <div class='col text-center'>
    <%= image_tag('P_Co-arrows-red.png', id: 'arrows-red') %>
  </div>
</div>
