<div id='pitch-title-block'>
  <div class='row'>
    <div class='col text-center'>
      <%= image_tag('pubco_logo.png', id: 'pubco-logo-top') %>
    </div>
  </div>
  <div class='row'>
    <div class='col text-center'>
      <h1>
        <span class='mobile-br'></span>Bad Elevator<br />
        <span class='mobile-br'></span>Pitch-o-matic<br />
        <%= image_tag('P_Co-squiggles-red.png') %>
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col text-center'>
      <p>
        Step right up and click the button to
        generate a random & terrible
        elevator&nbsp;pitch <br />
        (that hopefully sounds NOTHING like yours!)
      </p>
    </div>
  </div>
  <div class='col text-center'>
    <%= image_tag('P_Co-arrows-red.png', id: 'arrows-red') %>
  </div>
</div>
