<div id='pitch-button-block' class='pb-5'>
  <div class='row'>
    <div class='col text-center mb-5'>
      <h3>Your new awful pitch <%= mobile_br %>will appear here.</h3>
      <h4>(Hope it's bad enough to share!)</h4>
    </div>
  </div>
  <div class='row'>
    <div class='col text-center'>
      <%= render 'pitch_button' %>
    </div>
  </div>
</div>
