<div id='pitch-title-block'>
  <div class='row'>
    <div class='col text-end'>
      <%= image_tag('pubco_logo.png', id: 'pubco-logo-top') %>
    </div>
  </div>
  <div class='row text-center'>
    <div class='col'>
      <%= image_tag('microphone.png', id: 'microphone') %>
    </div>
  </div>
  <div class='row'>
    <div class='col text-center'>
      <h1>
        <span class='mobile-br'></span>Make a Bad Pitch<br />
        <%= image_tag('P_Co-squiggles-red.png') %>
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col text-center'>
      <p id='step-right-up'>
        <span>
          Step right up and click the button to generate a <br class='mobile-hidden'>
          <em>random & terrible</em> elevator&nbsp;pitch.
        </span>
      </p>
    </div>
  </div>
  <div class='col text-center'>
    <%= image_tag('P_Co-arrows-red.png', id: 'arrows-red') %>
  </div>
</div>
