<div id='specs-block'>
  <div class='left-margin'>
    <div class='row'>
      <div class='col text-left' id='better-sales'>
        <h34>
          Better Sales. No funnels.
        </h34>
      </div>
    </div>
    <div class='row'>
      <div class='col text-left tight-spaces-black'>
        <p><span class='serif-p'>No upsells, no tricks.<%= mobile_br %> All we need is your email.</span><br />
        <span class='smaller-print'>(and your first name so we can <%= mobile_br %>say "Hey Pete!")<sup>*</sup></span></p>
      </div>
    </div>
    <%= render 'mailchimp_form' %>
  </div>
</div>
