#shit-button {
    background-color: #FEE17D;
    font-family: 'Lora', serif;
    font-weight: italic !important;
    box-shadow: 5px 10px 1px black;
    color: black;
    margin-top: 2rem;
    min-height: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 1px solid black;

    &:hover {
      box-shadow: none;
  }
}

.btn-bottom-margin {
  margin-bottom: 6rem;
}
