@import "../node_modules/rfs/scss";

a.button {
  appearance: button;
}

#shit-button {
  background-color: #FEE17D;
  font-family: 'Lora', serif;
  font-weight: italic !important;
  box-shadow: 5px 10px 1px black;
  color: black;
  padding: 1.25rem 3.5rem 1.25rem 3.5rem;
  border: 1px solid black;

  &:hover {
    box-shadow: none;
  }
}

#btn-pitch {
  @include font-size(1.25rem);
  z-index: 1;
  font-weight: 200;
  font-family: 'DM Sanns', sans-serif !important;
  letter-spacing: 1px;
  padding: 1rem 5rem 1rem;
  outline: 0;
  border: 1px solid black;
  border-radius: 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2rem;

  &:after {
    content: "";
    background-color: #9FBFBC !important;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  &:hover:after {
    top: 0px;
    left: 0px;
  }
}

#connect-with-us {
  background-color: #FF5C35;
  font-family: 'Lora', serif;
  font-weight: italic !important;
  box-shadow: 5px 10px 1px black;
  color: white;
  padding: 1.25rem 3.5rem 1.25rem 3.5rem;
  border: 1px solid black;

  &:hover {
    box-shadow: none;
  }
}

.btn-bottom-margin {
  margin-bottom: 6rem;
}
