@media only screen and (max-width: 576px) {
  #pitch-title-block {
    padding-top: 15vh;
  }

  #made-this-shit {
    min-width: 85vw;
  }

  #specs-block {
    background-image: none;
    background-repeat: none;
    background-position: none;
  }

  #better-sales {
    max-width: 85vw;
  }

  .trunc-spacing {
    max-width: 80vw;
  }
}
