// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// USE vh TAG TO GET RESPONSIVE FONTS
//   1 v* is equal to 1% of the intial containing block

.tight-spaces-white {
  line-height: 135%;
  color: white;
  font-weight: lighter;
  margin-top: 5rem;
}

.tight-spaces-black {
  line-height: 135%;
  font-weight: lighter;
}

.right-margin {
  margin-right: 7%;
}

#pitch-reveal {
  min-height: 75vh;
  background-color: #FEE17D;
  padding-top: 15vh;
  padding-left: 7%;
  background-image: url('walking_fish_clear.png');
  background-repeat: no-repeat;
  background-position: right;
}

#pitch-subtitle {
  font-family: 'Lora';
  font-style: italic;
  color: #FF5C35;
  font-size: 1.5rem;
  font-weight: 600;
}

.bad-pitch {
  max-width: 55vw;
  font-family: 'Lora', serif;
  font-size: 2.4rem;
}

.small-cta {
  font-family: 'DM Sans', sans-serif;
  color: #FF5C35;
  font-size: 0.95rem;
}

#fancy-a-go {
  font-family: 'Lora', serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

#bad-pitch-bottom {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

#share-cta {
  margin-top: 1rem;
  line-height: 135%;
  font-weight: lighter;
  font-size: 0.95rem !important;
}

.trunc-spacing {
  max-width: 35vw;
}

#pitch-reveal > div.left-margin > div:nth-child(3) > div > span > a > span {
  text-decoration: underline;
  text-decoration-color: #FF5C35;
}

.share-copy {
  font-size: 0.75rem !important;
}
