body {
  font-family: 'Lora', serif !important;
}

.row {
  margin: auto !important;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 3.875rem !important;
}

h2 {
  font-family: 'DM Sans', sans-serif !important;
  font-size: 2.813rem !important;
}

h3 {
  font-family: 'DM Sanns', sans-serif !important;
  font-size: 2.5rem !important;
}

h4 {
  font-family: 'Lora', serif !important;
  font-style: italic !important;
  font-size: 2rem !important;
}

h34 {
  font-family: 'Lora', serif;
  font-size: 2.5rem;
  font-weight: lighter;
}

p {
  font-family: 'DM Sans', sans-serif !important;
  font-size: 1.375rem !important;
}

.pco-red {
  color: #FF5C35;
}

.alert {
  background-color: #ff0f0f;
}

.notice {
  background-color: #ACDF87;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

.middle {
  margin: auto;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.tight-spaces-white {
  line-height: 135%;
  color: white;
  font-weight: lighter;
  margin-top: 5rem;
}

.tight-spaces-black {
  line-height: 135%;
  font-weight: lighter;
}

.smaller-print {
  font-size: 1rem;
}

.smallest-print {
  font-size: 0.75rem;
  font-style: italic;
}

.serif-p {
  font-family: 'Lora', serif;
}
