#pink-flamingo-block {
  min-height: 75vh;
  background-color: #FF9D86;
  padding-left: 7%;
  background-image: url('flamingo_clear.png');
  background-repeat: no-repeat;
  background-position: right;
}

#made-this-shit {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
