#pitch-title-block {
  min-height: 75vh;
  background-color: #F2F0E9;
  padding-top: 10vh;
}

#pubco-logo-top {
  max-width: 15%;
  height: auto;
  margin-bottom: 3rem;
}

#arrows-red {
  margin: -2rem;
  padding-top: 3rem;
  z-index: 1;
}
