#pitch-reveal-square {
  min-height: 75vh;
  background-color: #FEE17D;
  padding-top: 15vh;
  padding-left: 7%;
}

.bad-pitch-square {
  max-width: 80vw;
  font-family: 'Lora', serif;
  font-size: 1.25rem;
  border: 2px dashed black;
  margin: auto;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-image: url('walking_fish_clear_cropped.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.new-bad {
  font-weight: italic !important;
  color: #FF5C35 !important;
  font-family: 'Lora', serif !important;
}

.pitch-plug {
  font-size: 0.75rem;
  font-style: italic;
  padding-top: 7rem;
  padding-bottom: 1rem;
}
