#specs-block {
  min-height: 75vh;
  background-color: #F2F0E9;
  padding-left: 7%;
  background-image: url('specs_clear.png');
  background-repeat: no-repeat;
  background-position: right;
}

#better-sales {
  margin-top: 4rem;
}
